# Non-negative matrix factorisation using non-negative least squares

In this post, I will write about using non-negative least squares (NNLS) for the problem of non-negative matrix factorisation (NNMF). We often encounter such matrices in the problem of collaborative filtering.

### Problem

Our goal is given a matrix A, decompose it into two non-negative factors, as follows:

$ A_{M \times N} \approx W_{M \times K} \times H_{K \times N} $, such that $ W_{M \times K} \ge 0$ and $ H_{K \times N} \ge 0$

![NMF Problem](files/nmf_problem.png)

### Overview

Our solution consists of two steps. First, we fix W and learn H, given A. Next, we fix H and learn W, given A. We repeat this procedure iteratively. Fixing one variable and learning the other (in this setting) is popularly known as alternating least squares, as the problem is reduced to a least squares problem. However, an important thing to note is that since we want to constraint W and H to be non-negative, we us NNLS instead of least squares.

### Step 1: Learning H, given A and W

![Learn H](files/nnls_1.png)

Using the illustration above, we can learn each column of H, using the corresponding column from A and the matrix W.

$$
\begin{equation}H[:, j] = NNLS (W, A[:,j]) \end{equation}
$$

### Handling missing entries in A

In the problem of collaborative filtering, A is usually the user-item matrix and it has a lot of missing entries. These missing entries correspond to user who have not rated items. We can modify our formulation to account for these missing entries. 

Consider that $M' \le M$ entries in A have observed data, we would now modify the above equation as:

$$
\begin{equation}H[:, j] = NNLS (W [mask], A[:,j][mask]) \end{equation}
$$

where, the mask is found by considering only the $M'$ entries.

### Step 2: Learning W, given A and H

![Learn W](files/nnls_2.png)

We follow similar procedure. What must be noted is that to get our matrices in the form that NNLLS accepts, I started with A^T instead of A.

### Code example

I'll now present a simple code example to illustrate the procedure.

#### Defining matrix A

I will be using the example from [Quuxlab's tutorial](http://www.quuxlabs.com/blog/2010/09/matrix-factorization-a-simple-tutorial-and-implementation-in-python/) to compare how we perform in comparison to them.

In [145]:
import numpy as np
import pandas as pd

M, N = 20, 10

np.random.seed(0)
A_orig = np.abs(np.random.randn(M, N))
A_orig = np.divide(A_orig, A_orig.max())
pd.DataFrame(A_orig).head()

,0,1,2,3,4,5,6,7,8,9
0,0.690975,0.156741,0.383369,0.877753,0.731518,0.382797,0.372147,0.059286,0.040431,0.160830
1,0.056422,0.569635,0.298097,0.047660,0.173860,0.130699,0.585227,0.080360,0.122628,0.334547
2,1.000000,0.256021,0.338598,0.290704,0.889057,0.569672,0.017924,0.073319,0.600386,0.575544
3,0.060693,0.148125,0.347744,0.775873,0.136276,0.061242,0.481902,0.470969,0.151715,0.118411
4,0.410716,0.556218,0.668342,0.764114,0.199630,0.171593,0.490717,0.304541,0.632160,0.083330

#### Masking a few entries

In [146]:
A = A_orig.copy()
A[0, 0] = np.NAN
A[3, 1] = np.NAN
A[4, 3] = np.NAN

In [147]:
A_df = pd.DataFrame(A)
A_df.head()

,0,1,2,3,4,5,6,7,8,9
0,NaN,0.156741,0.383369,0.877753,0.731518,0.382797,0.372147,0.059286,0.040431,0.160830
1,0.056422,0.569635,0.298097,0.047660,0.173860,0.130699,0.585227,0.080360,0.122628,0.334547
2,1.000000,0.256021,0.338598,0.290704,0.889057,0.569672,0.017924,0.073319,0.600386,0.575544
3,0.060693,NaN,0.347744,0.775873,0.136276,0.061242,0.481902,0.470969,0.151715,0.118411
4,0.410716,0.556218,0.668342,NaN,0.199630,0.171593,0.490717,0.304541,0.632160,0.083330

#### Defining matrices W and H

In [148]:
K = 4
W = np.abs(np.random.randn(M, K))
H = np.abs(np.random.randn(K, N))
W = np.divide(W, W.max())
H = np.divide(H, H.max())

In [149]:
pd.DataFrame(W).head()

          0         1         2         3
0  0.133154  0.086338  0.396618  0.236336
1  0.230878  0.583193  0.008774  0.266188
2  0.100961  0.035400  0.328277  0.114412
3  0.283607  0.168225  0.340636  0.147894
4  0.006139  0.136750  0.814872  0.015241

In [150]:
pd.DataFrame(H).head()

,0,1,2,3,4,5,6,7,8,9
0,0.047979,0.442799,0.300380,0.666854,0.124286,0.264265,0.453685,0.525690,0.299411,0.565058
1,0.272617,0.208787,1.000000,0.460093,0.059008,0.493460,0.042417,0.253027,0.173378,0.160620
2,0.567089,0.719701,0.051288,0.295227,0.289239,0.199972,0.579126,0.584534,0.301128,0.069262
3,0.058032,0.467788,0.489091,0.317146,0.167055,0.040953,0.018304,0.124522,0.026749,0.046575

#### Defining the cost that we want to minimise

In [151]:
def cost(A, W, H):
    from numpy import linalg
    WH = np.dot(W, H)
    A_WH = A-WH
    return linalg.norm(A_WH, 'fro')

However, since A has missing entries, we have to define the cost in terms of the entries present in A

In [152]:
def cost(A, W, H):
    from numpy import linalg
    mask = pd.DataFrame(A).notnull().values
    WH = np.dot(W, H)
    WH_mask = WH[mask]
    A_mask = A[mask]
    A_WH_mask = A_mask-WH_mask
    # Since now A_WH_mask is a vector, we use L2 instead of Frobenius norm for matrix
    return linalg.norm(A_WH_mask, 2)

Let us just try to see the cost of the initial set of values of W and H we randomly assigned.

In [153]:
cost(A, W, H)

3.9975129126366333

#### Alternating NNLS procedure

In [154]:
num_iter = 100
num_display_cost = max(int(num_iter/10), 1)
from scipy.optimize import nnls

for i in range(num_iter):
    if i%2 ==0:
        # Learn H, given A and W
        for j in range(N):
            mask_rows = pd.Series(A[:,j]).notnull()
            H[:,j] = nnls(W[mask_rows], A[:,j][mask_rows])[0]
    else:
        for j in range(M):
            mask_rows = pd.Series(A[j,:]).notnull()
            W[j,:] = nnls(H.transpose()[mask_rows], A[j,:][mask_rows])[0]
    WH = np.dot(W, H)
    c = cost(A, W, H)
    if i%num_display_cost==0:
        print i, c

0 3.15031068407
10 1.64560677487
20 1.60396103014
30 1.59340121343
40 1.59173186886
50 1.5908131936
60 1.59036185477
70 1.59010032298
80 1.58995095938
90 1.58986632451

In [155]:
A_pred = pd.DataFrame(np.dot(W, H))
A_pred.head()

,0,1,2,3,4,5,6,7,8,9
0,0.768571,0.051237,0.360478,0.896788,0.557515,0.360601,0.299828,0.068551,0.353684,0.215772
1,0.021930,0.516962,0.215584,0.160556,0.038575,0.317287,0.318735,0.157080,0.273725,0.349418
2,0.975095,0.201567,0.258860,0.270963,0.911301,0.652966,0.156339,0.112052,0.584028,0.517943
3,0.164375,0.402924,0.336635,0.766582,0.110595,0.104664,0.420903,0.450351,0.266460,0.061456
4,0.418817,0.480774,0.546891,1.292182,0.232168,0.269157,0.638597,0.419463,0.393236,0.177796

Let's view the values of the masked entries.

In [156]:
A_pred.values[~pd.DataFrame(A).notnull().values]

array([ 0.76857135,  0.40292371,  1.29218241])

Original values were:

In [157]:
A_orig[~pd.DataFrame(A).notnull().values]

array([ 0.69097508,  0.14812535,  0.76411405])